#red {
  border-top-color: #ff0000
}

#orange {
  border-top-color:
}

#yellow {
  border-top-color:
}

#green {
  border-top-color:
}

#blue {
  border-top-color:
}

#indigo {
  border-top-color:
}

#violet {
  border-top-color:
}
